* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

.container {
  position: relative;
  display: inline-block;
  margin-top: 50px;
}

.score {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: blue;
}

canvas {
  background-image: url("../images/robots-love-pizza-wireframe.jpeg");
  background-size: contain;
}
